# hashkey environment variables
.envrc

# ignore binary files
bin/*

# geth database dir
data

nohup.out

# ingore config files
config/getting-started/*.json
config/sepolia/*.json
config/mainnet/*.json
config/testnet/*.json